<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>DirectView</servlet-name>
        <servlet-class>org.tgdb.webapp.action.directview.DirectView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRedirector</servlet-name>
        <servlet-class>org.apache.cactus.server.ServletTestRedirector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTestRunner</servlet-name>
        <servlet-class>org.apache.cactus.server.runner.ServletTestRunner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavMenu</servlet-name>
        <servlet-class>org.tgdb.webapp.NavMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>org.tgdb.webapp.FileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>org.tgdb.frame.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestModel</servlet-name>
        <servlet-class>test.model.TestModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestSU</servlet-name>
        <servlet-class>test.samplingunit.TestSU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>org.tgdb.frame.MenuAdvanced</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bottom</servlet-name>
        <servlet-class>org.tgdb.frame.Bottom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>org.tgdb.servlets.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WSServlet_tgdbws</servlet-name>
        <servlet-class>org.tgdb.ws.tgdbwsImpl</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>service</servlet-name>
        <servlet-class>org.tgdb.ws.service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanelLeft</servlet-name>
        <servlet-class>org.tgdb.frame.PanelLeft</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Header</servlet-name>
        <servlet-class>org.tgdb.frame.Header</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanelRightTop</servlet-name>
        <servlet-class>org.tgdb.frame.PanelRightTop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Foot</servlet-name>
        <servlet-class>org.tgdb.frame.Foot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>olsajax</servlet-name>
        <servlet-class>org.tgdb.servlets.olsajax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRedirector</servlet-name>
        <url-pattern>/ServletRedirector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTestRunner</servlet-name>
        <url-pattern>/ServletTestRunner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavMenu</servlet-name>
        <url-pattern>/NavMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/FileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestModel</servlet-name>
        <url-pattern>/TestModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestSU</servlet-name>
        <url-pattern>/TestSU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bottom</servlet-name>
        <url-pattern>/Bottom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectView</servlet-name>
        <url-pattern>/DirectView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WSServlet_tgdbws</servlet-name>
        <url-pattern>/tgdbws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>service</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanelLeft</servlet-name>
        <url-pattern>/PanelLeft</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Header</servlet-name>
        <url-pattern>/Header</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanelRightTop</servlet-name>
        <url-pattern>/PanelRightTop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Foot</servlet-name>
        <url-pattern>/Foot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>olsajax</servlet-name>
        <url-pattern>/olsajax</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            Controller
        </welcome-file>
    </welcome-file-list>
    <ejb-ref>
        <ejb-ref-name>ejb/CreZOOUserBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>org.tgdb.project.user.UserRemoteHome</home>
        <remote>org.tgdb.project.user.UserRemote</remote>
        <ejb-link>tgdb-bean.jar#TgDbUserBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CreZOOProjectBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>org.tgdb.project.project.ProjectRemoteHome</home>
        <remote>org.tgdb.project.project.ProjectRemote</remote>
        <ejb-link>tgdb-bean.jar#TgDbProjectBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CreZOORoleBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>org.tgdb.project.role.RoleRemoteHome</home>
        <remote>org.tgdb.project.role.RoleRemote</remote>
        <ejb-link>tgdb-bean.jar#TgDbRoleBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CreZOOProjectManagerBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.tgdb.project.projectmanager.ProjectManagerRemoteHome</home>
        <remote>org.tgdb.project.projectmanager.ProjectManagerRemote</remote>
        <ejb-link>tgdb-bean.jar#TgDbProjectManagerBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CreZOOPrivilegeBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>org.tgdb.project.privilege.PrivilegeRemoteHome</home>
        <remote>org.tgdb.project.privilege.PrivilegeRemote</remote>
        <ejb-link>tgdb-bean.jar#TgDbPrivilegeBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CreZOOSecurityPrincipleBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>org.tgdb.project.securityprinciple.SecurityPrincipleRemoteHome</home>
        <remote>org.tgdb.project.securityprinciple.SecurityPrincipleRemote</remote>
        <ejb-link>tgdb-bean.jar#TgDbSecurityPrincipleBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CreZOOSamplingUnitBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>org.tgdb.samplingunit.samplingunit.SamplingUnitRemoteHome</home>
        <remote>org.tgdb.samplingunit.samplingunit.SamplingUnitRemote</remote>
        <ejb-link>tgdb-bean.jar#TgDbSamplingUnitBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CreZOOSpeciesBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>org.tgdb.species.species.SpeciesRemoteHome</home>
        <remote>org.tgdb.species.species.SpeciesRemote</remote>
        <ejb-link>tgdb-bean.jar#TgDbSpeciesBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CreZOOStrainBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>org.tgdb.model.strain.strain.StrainRemoteHome</home>
        <remote>org.tgdb.model.strain.strain.StrainRemote</remote>
        <ejb-link>tgdb-bean.jar#TgDbStrainBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CreZOOResearchApplicationBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>rg.tgdb.model.researchapplication.ResearchApplicationRemoteHome</home>
        <remote>rg.tgdb.model.researchapplication.ResearchApplicationRemote</remote>
        <ejb-link>tgdb-bean.jar#TgDbResearchApplicationBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CreZOOSamplingUnitManagerBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.tgdb.samplingunit.samplingunitmanager.SamplingUnitManagerRemoteHome</home>
        <remote>org.tgdb.samplingunit.samplingunitmanager.SamplingUnitManagerRemote</remote>
        <ejb-link>tgdb-bean.jar#TgDbSamplingUnitManagerBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CreZOOFileBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>org.tgdb.file.FileRemoteHome</home>
        <remote>org.tgdb.file.FileRemote</remote>
        <ejb-link>tgdb-bean.jar#TgDbFileBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CreZOOModelManagerBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.tgdb.model.modelmanager.ModelManagerRemoteHome</home>
        <remote>org.tgdb.model.modelmanager._modelManager</remote>
        <ejb-link>tgdb-bean.jar#TgDbModelManagerBean</ejb-link>
    </ejb-ref>
</web-app>
